.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000082;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup__container {
    background-color: #FFF;
    padding: 40px 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 90%;
    row-gap: 12px;
    opacity: 0;
    transform: scale(0);
    animation: showpoup .3s linear forwards;

    .edit__post__input {
      border: none;
      outline: none;
      padding-bottom: 10px;
      border-bottom: 1px solid #DDD;
    }
    label {
      cursor: pointer;

     .img__edit {
      min-height: 140px;
      transition: .3s ease;
      max-width: 100%;
      object-fit: cover;
    }

     &:hover {
      .img__edit {
        opacity: .6;
      }
     }
    }
    .position-absolute {
      top: 3px;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 22px;
    }
    .save__btn {
      background-color: #1B74E4;
      color: #FFF;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 4px;
      &:disabled {
        background-color: #d3cbcb;
      }
    }
  }
}

@keyframes showpoup {
  to {
    opacity: 1;
    transform: scale(1);
  }
}